button {
  color: white;
}

#navbarNavAltMarkup {
  margin-top: -20 px;
  float: right !important;
  font-family: "Avenir", sans-serif;
  font-weight: lighter;
}

.title {
  margin-top: -25px;
  margin-left: -25px;
  font-family: "Avenir", sans-serif;
  font-size: 50px;
  font-weight: lighter;
}

nav {
  border-bottom: 2px solid #e8e887;
  height: 150px;
  padding: 50px;
  margin: 50px;
  
}

.navbar-nav, .user-img, .user, .nav-item{
 display: flex;
  align-items: center;
}

.navbar-toggler-icon {
  color: white !important;
}

.user {
  /* text-align: right; */
  font-family: "Avenir", sans-serif;
  font-weight: lighter;
  margin-top: -20 px;
  margin-right: 15px;
}

.user-img {
    margin-right: 15px;
}

