:root {
  --orange: #f86d20;
  --yellow: #eded73;
  --white: #ffffff;
  --blue: #051f45;
  --dkBlue: #041633;
}

.react-quiz-container {
  color: #e8e887;
  text-align: center;
  font-family: "Century Gothic Regular", sans-serif;
  width: 400px;
  height: auto;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 450px;
  padding: 2px;
}
.react-quiz-container h3 {
  font-family: "Avenir Regular", sans-serif;
  font-weight: lighter;
}
.react-quiz-container .startQuizWrapper {
  margin-top: 10px;
}

.react-quiz-container .btn {
  font-family: "Avenir Regular", sans-serif;
  font-weight: lighter;
  border-radius: 42px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.react-quiz-container .answerBtn {
  width: 100%;
  background-color: var(--white);
  color: var(--blue);
  border: var(--yellow) solid 3px;
  margin: 5px;
}

.react-quiz-container .startQuizWrapper .startQuizBtn {
  font-size: 15px;
  border-radius: 18px;
  line-height: 1.35135;
  color: #f86d20;
  background-color: #051f45;
  border: 1px solid #eded73;
}

.react-quiz-container .result-answer-wrapper h3 {
  font-size: medium;
}
.card-body h2 {
  font-family: "Avenir Regular", sans-serif;
  font-weight: lighter;
  font-size: large;
  background-color: #ffffff;
  color: #051f45;
  border: #f86d20 solid 2px;
  border-radius: 5px;
}

.react-quiz-container .selection-tag,
.react-quiz-container .number-of-selection {
  padding: 7px;
  border-radius: 25px;
  color: #ffffff;
  font-style: italic;
}

.react-quiz-container .number-of-selection {
  background: #ffffff;
  color: #051f45;
  border: #f86d20 solid 2px;
  margin-left: 5px;
  font-style: italic;
}

.react-quiz-container .selection-tag.single {
  background: #ffffff;
  color: #051f45;
  border: #f86d20 solid 2px;
}

.nextQuestionBtn {
  background-color: #eb7c2a;
  border: #041633;
  border-radius: 25px;
  color: #ffffff;
  text-align: center;
  margin: auto;
  display: flex;
}

.questionWrapperBody p {
  font-family: "Avenir Regular", sans-serif;
  font-weight: lighter;
}
